<div class="container planningContainer">
  <table class="planningTable table-striped table-bordered">
    <tr class="table-row head-row">
      <th class="col-xs-2">Periode</th>
      <th *ngFor="let period of forecastPeriod; let i = index" class="table-header">{{curPeriod + i}}</th>
    </tr>
    <tr class="table-row">
      <th class="col-xs-2">P1</th>
      <td *ngFor="let period of forecastPeriod; let i = index">
        <mat-form-field>
          <input (blur)="checkSum()" (keypress)="onlyNumbers($event)" matInput class="table-input" placeholder="Herrenfahrrad P1" type="text" name="inputP1" [(ngModel)]="period.inputs.P1">
        </mat-form-field>
      </td>
    </tr>
    <tr class="table-row">
      <th class="col-xs-2">P2</th>
      <td *ngFor="let period of forecastPeriod; let i = index">
        <mat-form-field>
          <input (blur)="checkSum()" (keypress)="onlyNumbers($event)" matInput class="table-input" placeholder="Damenfahrrad P2" type="text" name="inputP2" [(ngModel)]="period.inputs.P2">
        </mat-form-field>
      </td>
    </tr>
    <tr class="table-row">
      <th class="col-xs-2">P3</th>
      <td *ngFor="let period of forecastPeriod; let i = index">
        <mat-form-field>
          <input (blur)="checkSum()" (keypress)="onlyNumbers($event)" matInput class="table-input" placeholder="Kinderfahrrad P3" type="text" name="inputP3" [(ngModel)]="period.inputs.P3">
        </mat-form-field>
      </td>
    </tr>
    <tr class="sum-row">
      <th class="col-xs-2">Summe</th>
      <td class="sum-row-content">{{sumFirst}}</td>
      <td class="sum-row-content">{{sumSecond}}</td>
      <td class="sum-row-content">{{sumThird}}</td>
      <td class="sum-row-content">{{sumFourth}}</td>
    </tr>
  </table>
  <button mat-raised-button style="margin-top: 2%" class="pull-right" color="primary" matStepperNext>Weiter</button>
</div>
