
<ng2-toasty></ng2-toasty>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list>
      <mat-list-item class="link" routerLink="/" (click)="sidenav.close()"> Übersicht </mat-list-item>
      <mat-list-item class="link" routerLink="/planning" (click)="sidenav.close()"> Planen </mat-list-item>
      <mat-list-item class="link" (click)="sidenav.close(); openXmlUpload()"> XML Input </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
      <mat-icon class="more_icon" (click)="sidenav.open()">more_vert</mat-icon>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>SCM-Planungstool</span>
        </mat-toolbar-row>
    </mat-toolbar>



  </div>
  <div class="page-content">
    <router-outlet></router-outlet>
    <app-xml-upload *ngIf="showXmlUpload" (hideXmlUpload)="closeXmlUpload()"></app-xml-upload>
  </div>

</mat-sidenav-container>







