<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list>
      <mat-list-item class="link" routerLink="/" (click)="sidenav.close()"> Übersicht </mat-list-item>
      <mat-list-item class="link" routerLink="/planning" (click)="sidenav.close()"> Planen </mat-list-item>
      <mat-list-item class="link" routerLink="/xmlinput" (click)="sidenav.close()"> XML Input </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <mat-icon class="more_icon" (click)="sidenav.open()">more_vert</mat-icon>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a href="">SCM-Planungstool</a>
        <a href="/#/planning">Planung</a>
      </mat-toolbar-row>
    </mat-toolbar>



  </div>
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>