.example-container {
  height: 100%;
}

.example-sidenav-content {
  display: flex;
}

.example-sidenav {
  padding: 20px;
}

.example-icon {
  padding: 0 14px;
}
mat-toolbar {
  width: 100%;
}

.page-content {
  margin-top: 25px;
  margin-left: 25px;
}

.more_icon {
  margin-top: 15px;
  cursor: pointer;
}
.link {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgba(255,255,255,.87);
  padding: 10px;
}
