<ng2-toasty [position]="'top-center'"></ng2-toasty>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list>
      <mat-list-item class="link" routerLink="/dashboard" (click)="sidenav.close()"> Übersicht </mat-list-item>
      <mat-list-item class="link" routerLink="/planning" (click)="sidenav.close()"> Planen </mat-list-item>
      <mat-list-item class="link" (click)="sidenav.close(); openXmlUpload()"> XML Input </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <div class="example-sidenav-content">
    <mat-icon class="more_icon" (click)="sidenav.open()">more_vert</mat-icon>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="span-cursor">SCM - Planungstool</span>
        <a href="/#/dashboard">Übersicht</a>
        <a href="/#/planning">Planung</a>
        <button mat-button class="pull-right logoutBtn" (click)=logout()>Logout</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="page-content">
    <router-outlet></router-outlet>
    <div id="uploadModal" (click)="closeXmlUpload()" *ngIf="showXmlUpload">
      <div id="uploadPopUp" (click)="$event.stopPropagation()">
          <div class="upload-img-container">
              <span class="glyphicon glyphicon-download-alt upload-img"></span>
          </div>
          <div class="spacer"></div>
          <div class="upload-text">Bitte wählen Sie eine XML-Datei aus, indem Sie auf den Upload-Button klicken.</div>
          <app-xml-upload *ngIf="showXmlUpload" [setPeriod]="setPeriod" (hideXmlUpload)="closeXmlUpload()"></app-xml-upload>
      </div>
    </div>
  </div>
</mat-sidenav-container>
