<mat-horizontal-stepper>
  <mat-step label="Prognosen">
    <app-forecast></app-forecast>
  </mat-step>
  <mat-step label="Produktionsplanung">
    Produktions Plannung Komponente
    <br> Bitte folgenden button unterbringen:
    <br>
    < button mat-button matStepperPrevious>Zurück
      < /button>
        <br>
        < button mat-button matStepperNext>Weiter
          < /button>
  </mat-step>
  <mat-step label="Arbeitsplatzplanung">
    <app-workspace-planning></app-workspace-planning>
  </mat-step>
  <mat-step label="Wareneinkauf">
    Waareneinkauf Komponente
    <br> Bitte folgenden button unterbringen:
    <br>
    < button mat-button matStepperPrevious>Zurück
      < /button>
        <br>
        < button mat-button matStepperNext>Weiter
          < /button>
  </mat-step>
  <mat-step label="Ergebnis">
    Ergenis Komponente
    <br> Bitte folgenden button unterbringen:
    <br>
    < button mat-button matStepperPrevious>Zurück
      < /button>
  </mat-step>
</mat-horizontal-stepper>