<mat-horizontal-stepper>
  <mat-step label="Prognosen">
    <app-forecast></app-forecast>
  </mat-step>
  <mat-step label="Produktions Plannung">
    <app-production-planning></app-production-planning>
  </mat-step>
  <mat-step label="Arbeitsplatzplanung">
    <app-workspace-planning></app-workspace-planning>
  </mat-step>
  <mat-step label="Wareneinkauf">
    <app-disposition></app-disposition>
  </mat-step>
  <mat-step label="Ergebnis">
    Ergenis Komponente
    <br> Bitte folgenden button unterbringen:
    <br>
    < button mat-button matStepperPrevious>Zurück
      < /button>
  </mat-step>
</mat-horizontal-stepper>
