<mat-horizontal-stepper>
  <mat-step label="Prognosen">
    <app-forecast></app-forecast>
  </mat-step>
  <mat-step label="Produktionsplanung">
    <app-production-planning></app-production-planning>
  </mat-step>
  <mat-step label="Arbeitsplatzplanung">
    <app-workspace-planning></app-workspace-planning>
  </mat-step>
  <mat-step label="Wareneinkauf">
    <app-disposition></app-disposition>
  </mat-step>
  <mat-step label="Ergebnis">
    <app-result></app-result>
  </mat-step>
</mat-horizontal-stepper>
