#selectModal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    z-index: 3;
    background-color: rgba(0,0,0,.6);
}

#selectPopUp {
    position: absolute;
    left: 50%;
    top: 20%;
    height: 300px;
    background: white;
    width: 500px;
    margin-left: -250px;
    border-radius: 5px;
    text-align: center;
}

.submit-btn {
    margin-top: 2%;
}