<div id="selectModal" (click)="closeModal()">
  <div id="selectPopUp" (click)="$event.stopPropagation()">
    <div class="select-container">
      <div class="select-text">Wählen Sie eine verfügbare Periode aus.</div>
      <div id="selector">
        <mat-form-field id="periodSelector">              
          <mat-select placeholder="Periode" #selectedPeriod>
            <mat-option *ngFor="let period of createRange(); let i = index" [value]="period">
              {{period}}
            </mat-option>
          </mat-select>
        </mat-form-field>    
        <button class="submit-btn" (click)="submitPeriod(selectedPeriod.value)" color="primary">Planen</button>        
      </div>    
    </div>
    <div id="middleContainer">
      <div class="horizontal-row left-hr"></div>  
      <span class="oder">oder</span>
      <div class="horizontal-row right-hr"></div>   
    </div>
    <div id="xmlUploadContainer" class="select-container">
      <div class="select-text">Laden Sie die Ergebnisse der Vorperiode hoch.</div>
      <app-xml-upload></app-xml-upload>                       
    </div>
  </div>
</div>