.modal {
  background: rgba(0,0,0,0.6);
  overflow-y: auto;
}

.modal-dialog {
  webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}

.modal-footer {
  width: 100%;
  display: block;
}
