th{
  border-right: solid grey 1px;
  text-align: center;
}

tr{
  border-bottom: solid grey 1px;
}

input {
  width: 100%;
  text-align: center;
}

.calculate-btn {
  margin-top: 15px;
  width: 160px;
  position: absolute;
  left: 50%;
  margin-left: -80px;
}
