th{
  border-right: solid grey 1px;
  text-align: center;
}

tr{
  border-bottom: solid grey 1px;
}

input {
  width: 100%;
  text-align: center;
}

.planningTable th.draggable-col {
  width: 5%;
  min-width: 30px;
}

.draggable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.planningTable th:not(.draggable-col) {
  width: 10%;
}

.pos-changed {
  background-color: #faebd7;
}

.table-striped>tbody>tr:nth-of-type(odd).pos-changed {
  background-color: #fddcb1bd;
}