<div class="container planningContainer">
  <table class="planningTable table-striped table-bordered">
    <thead>
      <th class="draggable-col"></th>
      <th>Erzeugnisse </th>
      <th>Kundenaufträge </th>
      <th>gepl. Lagerendbestand</th>
      <th>Lager </th>
      <th>Warteschlange </th>
      <th>in Bearbeitung </th>
      <th>Produktionsaufträge </th>
    </thead>
    <tbody [dragula]='"first-bag"' [dragulaModel]='productOrder'>
      <tr *ngFor="let item of finishedProducts, let i = index">
        <th class="draggable-col"><span class="draggable glyphicon glyphicon-align-justify"></span></th>
        <th>P{{i+1}}</th>
        <th>{{item.orders}}</th>
        <th>
          <input placeholder="Lagerendbestand" type="text" (keypress)="onlyNumbers($event)" [(ngModel)]="item.plannedWHEnd">
        </th>
        <th>{{item.inWarehouse}}</th>
        <th>{{item.inWaitlist}}</th>
        <th>{{item.inProduction}}</th>
        <th>{{item.amountneeded}}</th>
      </tr>
      <tr *ngFor="let item of subProducts, let i = index">
        <th class="draggable-col"><span class="draggable glyphicon glyphicon-align-justify"></span></th>
        <th>E{{item.id}} </th>
        <th>{{item.orders}}</th>
        <th>
          <input placeholder="Lagerendbestand" type="text" (keypress)="onlyNumbers($event)" [(ngModel)]="item.plannedWHEnd">
        </th>
        <th>{{item.inWarehouse}}</th>
        <th>{{item.inWaitlist}}</th>
        <th>{{item.inProduction}}</th>
        <th>{{item.amountneeded}}</th>
      </tr>
    </tbody>
  </table>
  <button mat-raised-button style="margin-top: 2%" color="warn" matStepperPrevious>Zurück</button>
  <button mat-raised-button class="calculate-btn" color="primary" (click)="updateAmmountNeededForFinishedProducts()">Berechnen</button>
  <button mat-raised-button style="margin-top: 2%" class="pull-right" color="primary" matStepperNext>Weiter</button>
</div>
