<!--mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-table></mat-table>
    <form class="forecast-form">
      <div flex>
        <h3>Auftraege diese Periode</h3>
      </div>
      <mat-form-field>
        <input matInput placeholder="Herrenfahrrad P1" [(ngModel)]="perOneMan" name="perOneMan">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Damenfahrrad P2" [(ngModel)]="perOneWoman" name="perOneWoman">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Kinderfahrrad P3" [(ngModel)]="perOneKid" name="perOneKid">
      </mat-form-field>

      <div flex>
        <h3>Auftraege diese Periode +1</h3>
      </div>
      <mat-form-field>
        <input matInput placeholder="Herrenfahrrad P1" [(ngModel)]="perTwoMan" name="perTwoMan">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Damenfahrrad P2" [(ngModel)]="perTwoWoman" name="perTwoWoman">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Kinderfahrrad P3" [(ngModel)]="perTwoKid" name="perTwoKid">
      </mat-form-field>

      <div flex>
        <h3>Auftraege diese Periode +2</h3>
      </div>
      <mat-form-field>
        <input matInput placeholder="Herrenfahrrad P1" [(ngModel)]="perThreeMan" name="perThreeMan">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Damenfahrrad P2" [(ngModel)]="perThreeWoman" name="perThreeWoman">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Kinderfahrrad P3" [(ngModel)]="perThreeKid" name="perThreeKid">
      </mat-form-field>

      <div flex>
        <h3>Auftraege diese Periode +3</h3>
      </div>
      <mat-form-field>
        <input matInput placeholder="Herrenfahrrad P1" [(ngModel)]="perFourMan" name="perFourMan">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Damenfahrrad P2" [(ngModel)]="perFourWoman" name="perFourWoman">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Kinderfahrrad P3" [(ngModel)]="perFourKid" name="perFourKid">
      </mat-form-field>
    </form>
  </mat-grid-tile>

  

  <!--mat-grid-tile>
    <div class="mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="empty">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.empty}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Auftraege">
          <mat-header-cell *matHeaderCellDef> Auftraege </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Auftraege}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="GeplanteAuftraege1">
          <mat-header-cell *matHeaderCellDef> GeplanteAuftraege1 </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.GeplanteAuftraege1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="GeplanteAuftraege2">
          <mat-header-cell *matHeaderCellDef> GeplanteAuftraege2 </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.GeplanteAuftraege2}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="GeplanteAuftraege3">
          <mat-header-cell *matHeaderCellDef> GeplanteAuftraege3 </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.GeplanteAuftraege3}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-grid-tile>
</mat-grid-list-->
<div id="forecastContainer" class="container">
  <table id ="forecastTable">
    <tr class="table-row">
      <th class="col-xs-2">Periode</th>
      <th *ngFor="let period of forecastPeriod; let i = index" class="table-header">{{curPeriod + i}}</th>
    </tr>
    <tr class="table-row">
      <th class="col-xs-2">P1</th>
      <td *ngFor="let period of forecastPeriod; let i = index">
        <mat-form-field>
          <input (blur)="checkSum()" (keypress)="onlyNumbers($event)" matInput class="table-input" placeholder="Herrenfahrrad P1" type="text" name="inputP1" [(ngModel)]="period.inputs.P1">
        </mat-form-field>
      </td>
    </tr>
    <tr class="table-row">
      <th class="col-xs-2">P2</th>      
      <td *ngFor="let period of forecastPeriod; let i = index">
        <mat-form-field>
          <input (blur)="checkSum()" (keypress)="onlyNumbers($event)" matInput class="table-input" placeholder="Damenfahrrad P2" type="text" name="inputP2" [(ngModel)]="period.inputs.P2">
        </mat-form-field>
      </td>
    </tr>
    <tr class="table-row">
      <th class="col-xs-2">P3</th>      
      <td *ngFor="let period of forecastPeriod; let i = index">
        <mat-form-field>
          <input (blur)="checkSum()" (keypress)="onlyNumbers($event)" matInput class="table-input" placeholder="Kinderfahrrad P3" type="text" name="inputP3" [(ngModel)]="period.inputs.P3">
        </mat-form-field>
      </td>
    </tr>
    <tr class="table-row">
      <th class="col-xs-2">Summe</th>
      <td>{{sumFirst}}</td>    
      <td>{{sumSecond}}</td>  
      <td>{{sumThird}}</td>  
      <td>{{sumFourth}}</td>     
    </tr>
  </table>
</div>



<button mat-button matStepperNext>Weiter</button>
