<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="empty">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.empty}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Auftraege">
      <mat-header-cell *matHeaderCellDef> Auftraege </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Auftraege}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="GeplanteAuftraege1">
      <mat-header-cell *matHeaderCellDef> GeplanteAuftraege1 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.GeplanteAuftraege1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="GeplanteAuftraege2">
      <mat-header-cell *matHeaderCellDef> GeplanteAuftraege2 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.GeplanteAuftraege2}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="GeplanteAuftraege3">
      <mat-header-cell *matHeaderCellDef> GeplanteAuftraege3 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.GeplanteAuftraege3}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<button mat-button matStepperNext>Weiter</button>
