.newOrderLabel {
  width: 25%;
  margin-top: 10px;
}

.newOrderInput {
  width: 17%;
  margin-top: 10px;
}
.new-btn {
  margin-top: 15px;
  width: 160px;
  position: absolute;
  left: 50%;
  margin-left: -80px;
}
