.draggable-col {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.draggable {
  font-size: 18px;
}

.pos-changed {
  background-color: #faebd7;
}

.table-striped>tbody>tr:nth-of-type(odd).pos-changed {
  background-color: #fddcb1bd;
}

.planningTable th.draggable-col {
  width: 3%;
  min-width: 30px;
}

.planningTable th:not(.draggable-col) {
  width: 10%;
}

.planningTable th, td {
  text-align: center;
}