<div class="container planningContainer">
  <table class="table-striped table-bordered planningTable">
    <tr class="table-row head-row">
      <th class="col-xs-2">Kaufteil:</th>
      <th *ngFor="let index of ordersData.index;">{{index}}</th>
    </tr>
    <tr class="table-row">
      <th class="col-xs-2">Normale Bestellung:</th>
      <th *ngFor="let index of ordersData.index">{{ordersData[index].result.normalOrder}}</th>
    </tr>
    <tr class="table-row">
      <th class="col-xs-2">Express Bestellung:</th>
      <th *ngFor="let index of ordersData.index">{{ordersData[index].result.expressOrder}}</th>
    </tr>
    <tr class="table-row">
      <th class="col-xs-2">Preis:</th>
      <th *ngFor="let index of ordersData.index">
        <div *ngIf="ordersData[index].result.normalOrder">
          {{ordersData[index].result.normalOrder * ordersData[index].price + ordersData[index].oderCost }}
        </div>
        <div *ngIf="ordersData[index].result.expressOrder">
          {{ordersData[index].result.expressOrder * ordersData[index].price + ordersData[index].oderCost*10 }}
        </div>
        <div *ngIf="!ordersData[index].result.expressOrder && !ordersData[index].result.normalOrder">
          0
        </div>
      </th>
    </tr>
  </table>
  <button mat-raised-button style="margin-top: 2%" color="warn" matStepperPrevious>Zurück</button>
  <button mat-raised-button style="margin-top: 2%" class="pull-right" color="primary" matStepperNext>Weiter</button>
</div>

